<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.austain.mapper.StudyRecordMapper">

    <insert id="addStudyRecord" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO learning_checklist (
            user_id,
            book_id,
            start_id,
            end_id,
            record_ids,
            learning_record,
            type,
            selected,
            already_reviewed,
            create_time,
            update_time
        ) VALUES (
            #{userId},
            #{bookId},
            #{startId},
            #{endId},
            #{recordIds},
            #{learningRecord},
            #{type},
            #{selected},
            #{alreadyReviewed},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateRecord">
         update learning_checklist
         <set>
              <if test="learningRecord != null">
                 learning_record = #{learningRecord},
             </if>
             <if test="bookId != null">
                book_id = #{bookId},
             </if>
             <if test="startId != null">
                start_id = #{startId},
             </if>
             <if test="endId != null">
                end_id = #{endId},
             </if>
             <if test="recordIds != null">
                record_ids = #{recordIds},
             </if>
             <if test="type != null">
                 type = #{type},
             </if>
             <if test="alreadyReviewed != null">
                 already_reviewed = #{alreadyReviewed},
             </if>
        </set>
        where user_id = #{userId} and id = #{id}
    </update>
    <update id="setReview">
        update learning_checklist
        set already_reviewed = 1
        where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="updateSelected">
        update learning_checklist set selected = 1 where id in
        <foreach collection='list' item='id' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </update>


    <!-- 批量删除学习记录 -->
    <delete id="deleteRecords">
        DELETE FROM learning_checklist WHERE user_id = #{userId} AND id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="MergeStudyRecords" statementType="CALLABLE">
         CALL GenerateDailyLearningChecklist();
    </select>

</mapper>
