<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.austain.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, email, nickname, avatar, role, status)
        VALUES (#{username}, #{password}, #{email}, #{nickname}, #{avatar}, #{role}, #{status})
    </insert>


    <update id="updateProfile">
        UPDATE users
        <set>
            <if test='username != null'>username = #{username},</if>
            <if test='email != null'>email = #{email},</if>
            <if test='avatar != null'>avatar = #{avatar},</if>
            <if test='nickname != null'>nickname = #{nickname},</if>
            <if test='learningGoal != null'>learning_goal = #{learningGoal},</if>
            <if test='dailyTarget != null'>daily_target = #{dailyTarget},</if>
            <if test='reminderEnabled != null'>reminder_enabled = #{reminderEnabled},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
</mapper>
